.uw-colour-bar__cbars {
  display: flex;
  flex-direction: row wrap;
  justify-content: flex-start;
  width: 100%;
}

.uw-colour-bar__cbar {
  -webkit-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  height: 0.625rem;
  margin: 0;
  padding: 0;

  @include medium {
    height: 0.875rem;
  }

  @include large {
    height: 1rem;
  }

  @include xl {
    height: 1.125rem;
  }
}

.org-default__uw-gold--lvl1 {
  background-color: #fffaaa;
}

.org-default__uw-gold--lvl2 {
  background-color: #ffea30;
}

.org-default__uw-gold--lvl3 {
  background-color: #fdd54f;
}

.org-default__uw-gold--lvl4 {
  background-color: #e4b429;
}
