.uw-main {
  min-height: 500px;
  background-color: #ffffff;

  &__wrapper {
    @include uw-full-width;
    padding: 0 1rem;

    @include large {
      @include uw-contained-width;
      padding: 1rem 0;
    }
  }
}
