.uw-footer {
  background-color: #000;
  color: #ffffff;
  margin-top: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  text-align: center;

  @include large {
    @include uw-contained-width;
    grid-template-columns: 50% 50%;
    text-align: left;
    padding: 1rem 0;
  }

  &__info {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }

  &__login {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    text-align: center;

    @include large {
      grid-row: 1 / 2;
      grid-column: 2 / 3;
      text-align: right;
    }

    a {
      color: white;
    }
  }
}
