.uw-header {
  background-color: #000000;
}

.uw-header {
  background-color: #000;

  &__wrapper {
    display: grid;
    grid-template-columns:  auto 6rem;
    padding: 0.5rem;
    position: relative;

    @include large {
      @include uw-contained-width;
      padding: 1rem;
    }

    .uw-site-logo {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }

    .uw-header-menu {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }

  }

  .uw-header__center{
    @include uw-contained-width;
    border-bottom:1px solid grey;

    @include large{
      border-bottom:inherit;
    }

    display: grid;
    grid-template-columns:  auto 4rem;
    padding:0;
  }

  .uw-header__site-name{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .uw-navigation-button{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  .uw-header__navigation{
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  .messages-list {
    background-color: #ffffff;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0 1rem;
  }
}

