@mixin uw-contained-width {
  margin-left: auto;
  margin-right: auto;
  max-width: 63rem;

  @include xl{
    padding-left:0;
    padding-right:0;
  }
}

@mixin uw-full-width {
  max-width: 100%;
  padding: 0;
  width: 100%;
}
